* {
  margin: 0;
  padding: 0;
}
.member {
  position: relative;
  height: 100vh;
}
.bg {
  width: 100%;
  height: 100%;
  background-position: center;
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
  /* height: auto; */
}
.bg img {
  height: 100%;
  width: 100%;
}
h1 {
  text-shadow: 0 0 3px #000, 0 0 5px #ed563b;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 50px;
  letter-spacing: 8px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-top: 20px;
}
.cards .cont:hover {
  transform: scale(1.05);
  z-index: 999;
}
.cards .cont2:hover {
  transform: scale(1.05);
  z-index: 999;
}
.cont {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  /* margin-top: 15px; */
  transition: 0.3s linear;
  border-radius: 15px 15px 15px 15px;
}
.underline {
  border-bottom: 1px solid #000;
  padding: 8px 0 8px 0;
}
.underline2 {
  border-bottom: 1px solid #fff;
  padding: 8px 0 8px 0;
}
.cont h2 {
  color: #000;
}
.under h2 {
  color: #ed563b;
  font-size: 30px;
}
.cont ul li {
  list-style: none;
  margin-top: 15px;
}
.list ul li span {
  margin-left: 8px;
}
.reg {
  width: 100%;
  font-size: 16px;
  border-radius: 0;
  background-color: #ed563b;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 15px 0 15px 0;
  cursor: pointer;
}
/* .reg:hover {
  background-color: #fff;
  color: #ed563b;
  border: none;
} */

.cont2 {
  width: 300px;
  padding: 20px;
  background-color: #ed563b;
  /* margin-top: 50px; */
  transition: 0.3s linear;
  border-radius: 15px 15px 15px 15px;
}
.cont2 h2 {
  color: #fff;
}
.under2 h2 {
  color: #fff;
  font-size: 30px;
}
.cont2 ul li {
  list-style: none;
  margin-top: 15px;
  color: #fff;
}

.list2 ul li span {
  margin-left: 8px;
}
.reg2 {
  width: 100%;
  font-size: 16px;
  border-radius: 0;
  background-color: #fff;
  color: #ed563b;
  padding: 15px;
  border: none;
  border-radius: 15px 0 15px 0;
  cursor: pointer;
}
/* .reg2:hover {
  background-color: #ed563b;
  color: #fff;
  border: none;
} */
@media screen and (max-width: 700px) {
  h1 {
    font-size: 40px;
  }
  .member {
    background-color: rgba(65, 26, 26, 0.5);
    height: 100%;
    padding-bottom: 30px;
  }
  .bg {
    display: none;
  }
  .cont,
  .cont2 {
    margin-top: 30px;
  }
}
/* @media screen and (min-width: 600px), screen and (max-width: 1298px) {
  .bg {
    height: auto;
    background-size: cover;
    padding: 10px;
  }
} */
