.App {
  text-align: center;
}
.box {
  background-image: url("https://c8.alamy.com/zooms/9/5fbec6b2c35d40bab6baab50e518e87d/rnd5dh.jpg");
  background-size: cover;
}
.headtext {
  color: orangered;
  font-family: sans-serif;
}

.col {
  margin-left: 35px;
}

.bg_row {
  background-color: #282c34;
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
